:root{
    --gunmetal: #1b2b3bff;
    --carolina-blue: #009eddff;
}

.complete-screen{
    height: 1vh;
}

.bg-gunmental{
    background: var(--gunmetal);
}

.bg-image-main{
    background: url("assets/img/mainBG.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}
.p-6{
    padding: 6rem!important;
    padding-bottom: 2rem!important;
}

.col-lg-4{
    text-align: center;
}

h1{
    font-size: 3.5rem;
    letter-spacing: .5rem;
}

hr{
    margin-top: 9rem;
    margin-bottom: .2rem;
}

a.btn{
    width: 60%;
    text-align: start;
}

a.tel{
    display: block;
    color: var(--carolina-blue);
    text-decoration: none;
    width: 100%;
    text-align: center;
}

@media only screen and (max-width: 1200px){
    h1{
        font-size: 4rem;
        letter-spacing: .5rem;
    }
}

@media only screen and (max-width: 992px){
    h1{
        font-size: 2rem;
        letter-spacing: .5rem;
    }
}